.soundInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.soundInputBox {
    flex-grow: 1;
    padding: 0!important;
}

.soundInputButton {
    height: 36px;
    margin-left: 10px;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
}

.listItemIndicator {
    width: 24px;
    padding: 4px;
    text-align: center
}

.listItemText {
    flex-grow: 1;
}

.listItemButton {
    margin-left: 10px;
}